.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 5s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Board {
  height: 500px;
  width: 500px;
  margin: auto;
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1px;
  grid-auto-rows: minmax(100px, auto);
}

.one {
/*  grid-column: 1;
  grid-row: 1;*/
  background-image: url("./images/one.jpg");
  background-repeat: no-repeat;
  background-size: 100%;

}

.two {
/*  grid-column: 2;
  grid-row: 1;*/
  background-image: url("./images/two.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.three {
/*  grid-column: 3;
  grid-row: 1;*/
  background-image: url("./images/three.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.four {
/*  grid-column: 1;
  grid-row: 2;*/
  background-image: url("./images/four.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.five {
/*  grid-column: 2;
  grid-row: 2;*/
  background-image: url("./images/five.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.six {
/*  grid-column: 3;
  grid-row: 2;*/
  background-image: url("./images/six.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.seven {
/*  grid-column: 1;
  grid-row: 3;*/
  background-image: url("./images/seven.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.eight {
/*  grid-column: 2;
  grid-row: 3;*/
  background-image: url("./images/eight.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.nine {
/*  grid-column: 3;
  grid-row: 3;*/
  /*background-image: url("./images/nine.jpg");*/
  background-repeat: no-repeat;
  background-size: 100%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
